<form method ="get" action="emails/new">
  <input type="submit">
  
  <table border="0" cellspacing="0" cellpadding="0" id="courses" class="index_table index" paginator="true">>
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="subject">Prework Complete</th>
        <th class="course_provider">Past Due Courses</th>
        <th class="url">Select Users</th>
        <th class="estimated_time">Last Emailed</th>
      </tr>
    </thead>

    <tbody>
      <% @semester.users.all.each do |p| %>

        <tr class="odd" <%#= MAKE CLASS HERE ALTERNATING EVEN ODD %>id="course_3">
          
          <td class="name"><%= p.full_name %></td>
          
          <td class="subject"><%= number_to_percentage(p.overall_progress, precision: 0) %></td>
          
          <td class="course_provider"><%= "#{p.past_due_courses(@days_before_semester).size} Past Due" %></td>
          
          <td class="url"> <%= check_box_tag('user_ids[]', p.id) %></td>
          
          <td class="estimated_time"><%= p.last_emailed %></td>
        
        </tr>
      <% end %>
    </tbody>
  </table>
</form>