
<div class="container form-4">

			<h1> Log In to Iron Board</h1> 			
					<%= form_tag sessions_path, {:class => 'form-4'} do %>
						<p>
							<%= text_field_tag :email, params[:email], :placeholder =>'Email' %>
						</p>
						<p>
							<%= password_field_tag :password, :placeholder => 'Password' %>
						</p>
						<p>
			    		<%= submit_tag "Continue" %>
			  		</p>
			  	<% end %>

  					<p>Not a member? <span><%= link_to "Sign-up", new_user_path%></span></p>

</div>