<div class="container">
  <div class="row">
    <div class="span6">
      <div class="form-unit" id="signupForm" style="height:700px">

      <%= form_for(@user) do |f| %>
        <% if @user.errors.any? %>
          
            <a class="close" data-dismiss="alert">&#215;</a>
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            
            <% @user.errors.full_messages.each do |msg| %>
              <%= content_tag :div, msg %>
            <% end %>
            </ul>

        <% end %>

      <h2>User Sign-Up</h2>

        <%= f.label :first_name %>
        <%= f.text_field :first_name, :placeholder => 'Avi' %>

          <%= f.label :last_name %>
        <%= f.text_field :last_name, :placeholder => 'Flombaum' %>

        <%= f.label :phone_number %>
        <%= f.text_field :phone_number, :placeholder => '555-123-1234' %>

        <%= f.label :email %>
        <%= f.text_field :email, :placeholder => 'something@flatironschool.com'  %>

        <%= f.label :treehouse_login %>
        <%= f.text_field :treehouse_login %>

        <%= f.label :codeschool_login %>
        <%= f.text_field :codeschool_login %>

        <%= f.label :password %>
        <%= f.password_field :password %>        

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>


<br><br>
        <%= f.submit 'Submit!', :class => 'btn btn-warning btn-large' %>

      <% end %>
      </div>
    </div> <!-- span8 -->
  </div> <!-- row -->
</div> <!-- container -->