<p id="notice"><%= notice %></p>

  <b>Name:</b>
  <%= @user.first_name %>
  <%= @user.last_name %>

  <b>Email:</b>
  <%= @user.email %>

  <b>Phone Number:</b>
  <%= @user.phone_number %>

  <b>Treehouse:</b>
  <%= @user.treehouse_login %>

  <b>Codeschool:</b>
  <%= @user.codeschool_login %></br>

<%= link_to 'Pre-Work Intro', preworkintro_path %></br>
  

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>