<div class="eventful">
  <center>
  <h1><%= @event.name %></h1>
  Type: <%= @event.event_type.name %></br>
  Location: <%= @event.location %></br>
  Address: <%= @event.address %></br>
  <hr>
  Begins: <%= @event.start_at.strftime("%m/%d/%Y at %I:%M%p") %></br>
  Ends: <%= @event.end_at.strftime("%m/%d/%Y at %I:%M%p") %></br><br>
  <%= link_to 'Back to Calendar', calendar_path %>
  </center>
</div>
