  
    <p id="notice"><%= notice %></p>
    Type: <%= @event.event_type.name %></br>
    Location: <%= @event.location %></br>
    Address: <%= @event.address %></br>
    Begins: <%= @event.start_at.strftime("%m/%d/%Y at %I:%M%p") %></br>
    Ends: <%= @event.end_at.strftime("%m/%d/%Y at %I:%M%p") %></br>
    <%= link_to 'Back to Calendar', calendar_path %>
    </p>

