<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-header">
   <h4 id="myModalLabel"><%= @event.name %></h4>
  </div>

  <!-- 
  <div class="modal-body">
    <p>One fine body…</p>
  </div> -->
  <!-- <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button> -->

        
  <div class="modal-body">
    <p id="notice"><%= notice %></p>
    Type: <%= @event.event_type.name %></br>
    Location: <%= @event.location %></br>
    Address: <%= @event.address %></br>
    Begins: <%= @event.start_at.strftime("%m/%d/%Y at %I:%M%p") %></br>
    Ends: <%= @event.end_at.strftime("%m/%d/%Y at %I:%M%p") %></br>
    <%= link_to 'Back to Calendar', calendar_path %>
    </p>
  </div> <!-- modal-body -->

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>

</div>

