        <% @user_courses.each do |subject, courses| %>
          
          <ul style="list-style: none;">  
            <h2 id="<%= subject.downcase.gsub(/\s+/, "") %>"><%= subject %></h2>
          <% courses.each do |course| %>  
            <li>

              <div class="row">
                <div class="span5">
                  <!-- if the course is not treehouse or codeschool show checkbox -->
                  <% if course.course_provider_id == 0 %>
                    <% check_value = true if course.user_courses.first.progress > 0 %>
                      <%= check_box_tag course.user_courses.first.id, 'yes', check_value, :class => 'regular-checkbox' %>
                  <% else %>
                    <!-- do nothing -->
                  <% end %>

                  <!-- when the checkbox is marked the progress bar goes to 100% -->
                  <% if course.course_provider_id == 2 %>
                    <%= 'Treehouse || ' %>
                  <% elsif course.course_provider_id == 1 %>
                    <%= 'Codeschool || ' %>
                  <% else %>
                  <% end %>

                  <%= link_to course.name, course.url, {:target=> "_blank"} %>
                </div> 

                <div class="span3 offset4" id="hours" align="right">
                  <%= course.estimated_time %> <a id="tooltip" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Hours</a>
                </div>

              </div> <!-- ends first row with checkbox and course name -->
              <% if course.user_courses.first.progress < 100 %>
                <div class="progress progress-warning progress-striped active">
              <% else %>
                <div class="progress progress-warning">
              <% end %>
                    <div class="bar" id="bar<%= course.user_courses.first.id %>" style="width: <%= course.user_courses.first.progress %>%" >
                    </div>

                </div>


            </li>     

          <% end %>
            </ul>         
        <% end %>              