<title>Iron Board</title>
<div class="container">
	<div class="row">
		<div class="span8">
			<br>
			<h3>Courses</h3>
			<h2>Awesome job, <em><%= @student.first_name.capitalize %>!!</em></h2>
			<h4>Keep it up!</h4>
			
			<h2>Overall Progress: <span id="text_overallprogress"><%= @average.round(2) %>%</span> </h2>		
			<div class="progress progress-info progress-striped active">
						<div class="bar" id="overallprogress" style="width: <%= @average.round(2) %>%" >
						</div>
					</div>
			<div class="well">
		
				<!-- subjects is an array of our subjects -->
				<% last_subject = nil %>
				<% @user_courses.each do |c| %>
					<% if c.course.subject != last_subject %>
						<% last_subject = c.course.subject %>
						<% if last_subject %>
							</ul>
						<% end %>
						<ul style="list-style: none;"><h2><%= c.course.subject.name %></h2>
					<% end %> 
							<li>
								<!-- if the course is not treehouse or codeschool show checkbox -->
							<div class="row">
								<div class="span5">
									<% if c.course.course_provider_id == 0 %>
										<%# form_tag ("/user_courses/#{c.id}", :method => 'post', :remote => true) %>
										<% check_value = true if c.progress > 0 %>
											<%= check_box_tag c.id, 'yes', check_value, :class => 'regular-checkbox' %>
										<% else %>
										<!-- do nothing -->
									<% end %>
										<!-- when the checkbox is marked the progress bar goes to 100% -->

										<% if c.course.course_provider_id == 2 %>
											<%= 'Treehouse || ' %>
										<% elsif c.course.course_provider_id == 1 %>
											<%= 'Codeschool || ' %>
										<% else %>
									<% end %>
									<%= link_to c.course.name, c.course.url, {:target=> "_blank"} %>
									</div> 
									<div class="span3 offset4" id="hours" align="right">
										<%= c.course.estimated_time %> <a id="tooltip" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Hours</a>
									</div>
								</div> <!-- ends first row with checkbox and course name -->
										<% if c.progress < 100 %>
											<div class="progress progress-warning progress-striped active">
										<% else %>
											<div class="progress progress-warning">
										<% end %>
										<div class="bar" id="bar<%= c.id %>" style="width: <%= c.progress %>%" >
										</div>
									</div>
							</li>	
				<% end %>
			</div> <!-- well -->
		</div> <!-- span8 -->
	</div> <!-- row -->

	<%#= render 'layouts/navigation' %>

</div> <!-- container -->
