<title>Iron Board</title>
<div class="container">
	<div class="row">
		<div class="span8">
			<h1>Iron Board</h1>
			<hr>
			<h3>Courses</h3>
			<h2>Great Job, <%= @student.first_name.capitalize %> <%= @student.last_name.capitalize %>!!</h2>
			
			<h2>Overall Progress: <%= @average.round(2) %>% </h2>		
			<div class="progress progress-info progress-striped">
						<div class="bar" style="width: <%= @average.round(2) %>%" >
						</div>
					</div>
			<div class="well">
<%#= raise @user_courses_hash.inspect %>
				
				<!-- subjects is an array of our subjects -->
				<% last_subject = nil %>
				<% @user_courses.each do |c| %>
					<% if c.course.subject != last_subject %>
						<% last_subject = c.course.subject %>
						<% if last_subject %>
							</ul>
						<% end %>
						<ul style="list-style: none;"><h2><%= c.course.subject.name %></h2>
					<% end %> 
						<!-- For each subject, print out the list of courses that relate to it (s.courses) -->
							<li><%= link_to c.course.name, c.course.url, {:target=> "_blank"} %> -
								<!-- I think we can get rid of this, but basically @user_courses_hash 
								is a hash of user_courses with the name of the course as the key. This is
								a check to see if it exists and if so it prints. -->
									<div class="progress progress-striped active">
										<%#= @user_courses_hash[c.id].progress %>
										<div class="bar" style="width: <%= c.progress %>%" >
									</div>
							</li>	
				<% end %>

			</div> <!-- well -->
		</div> <!-- span8 -->
	</div> <!-- row -->
</div> <!-- container -->
