<title>Iron Board</title><br>

<div class="container prework-container">
	<div class="row">
		<div class="span8 fade-in two" align="center" id="flatiron-background">
			
			<div class="preworkoverview" style="margin-top:160px;">
				<h4 id="prework-button"><%= link_to 'Prework Overview', "#myModal", :'data-toggle' => 'modal' %></h4>	
			</div>
			
		</div>
		
		<div class="span4">
			<div class="well affix fade-in one" data-offset-bottom="200">
				<%= render 'progress_summary' %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<div class="well fade-in two">
				<!-- subjects is an array of our subjects -->

				<%= render 'user_courses' %>

			</div> <!-- well -->
		</div> <!-- span8 -->
	</div> <!-- row -->
</div> <!-- container -->


<%= render 'prework_modal' %>

<script type="text/javascript">
	$(function() {
		var n = noty({
			text: '<%= image_tag 'avi.png', :align => 'left', :width => '80px', :style => 'padding: 4px' %><strong>Avi Flombaum:</strong> <br /> Hi, Welcome to the Prework intro site.  If this is your first time be sure to read the Prework Overview',
			type: 'alert',
			layout: 'topRight',
			closeWith: ['click'],
		});
	})

</script>


<!-- End of Modal -->