<title>Iron Board</title>
<div class="container">
	<div class="row">
		<div class="span8">
			<h1>Iron Board</h1>
			<hr>
			<h3>Courses</h3>
					
			<div class="well">

				<% @subjects.each do |s| %>
					<ul><%= s.name %>
						<% s.courses.each do |c| %>
							<li><%= link_to c.name, c.url, {:target=> "_blank"} %> -
		
								<% if @user_courses.has_key?(c.id) %>
									<%= @user_courses[c.id].progress %>

								<% else %>
									<%= link_to 'Start', '/user/add_course_to_user/' + c.id.to_s %>
								<%= raise @user_courses.inspect %>
								<% end %> 
							</li>
						<% end %>
					</ul>
				<% end %>
			</div> <!-- well -->
		</div> <!-- span8 -->
	</div> <!-- row -->
</div> <!-- container -->
