<h1> Send an email </h1>

<%= form_for(@email) do |f| %>


  <%= f.label :subject %>
  <%= f.text_field :subject  %>

  <%= f.label :body %>
  <%= f.text_area :body, :rows => "20" %>

  <%= hidden_field_tag :user_ids, @user_ids %>

  <%= f.submit 'Send' %>  

<% end %>