<!DOCTYPE html>
<html>
<head>
  <title>Registrar</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

	<!-- NOTY -->
  <%= javascript_include_tag "noty/jquery.noty" %>
  <%= javascript_include_tag "noty/layouts/top" %>
  <%= javascript_include_tag "noty/layouts/topLeft" %>
  <%= javascript_include_tag "noty/layouts/topRight" %>
  <%= javascript_include_tag "noty/layouts/topCenter" %>
  <%= javascript_include_tag "noty/themes/default" %>
  <%= javascript_include_tag "ui-noty.js" %>
  <!-- END NOTY -->

  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target="#highlight-sidebar">
<div class="background"></div><div class="body"></div>
	<div class="lion navbar navbar-inverse">
		<div class="navbar-inner">
			<% if authorized_user %>
			<% @user = authorized_user if !@user %>
			<a href="/" class="brand">Iron Board : <strong><%= @user.first_name %></strong></a>
			<ul class="nav-erin">
	        <li><i class="icon-check icon-white"></i> <%= link_to "Pre-Work", prework_path %></li>
	        <% if !@user.semester_id.blank? %>
	        <li><i class="icon-list-alt icon-white"></i> <%= link_to "Class Directory", directory_path %></li>
	        <li><i class="icon-calendar icon-white"></i> <%= link_to "Calendar", calendar_path %></li>
	        <% end %>
	        <li><i class="icon-user icon-white"></i> <%= link_to "Edit", edit_current_user_path %></li> 
					<li><i class="icon-remove-sign icon-white"></i> <%= link_to "Log Out", logout_path %></li>
				<% else %>
					<li><i class="icon-check icon-white"></i><%= link_to "Sign Up", signup_path %></li> 
					<li><i class="icon-check icon-white"></i><%= link_to "Log in", login_path %></li>
				<% end %>
			</ul>
			
		</div>
	</div>

<%= render partial: "layouts/flash_messages", flash: flash %>
<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
