<!DOCTYPE html>
<html>
<head>
  <title>Registrar</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="background"></div><div class="body"></div>
	<div class="lion navbar navbar-inverse">
		<div class="navbar-inner">
			<% if current_user %>
			<a class="brand">Iron Board : <strong><%= current_user.first_name %></strong></a>
			<ul class="nav-erin">
	        <li><i class="icon-check icon-white"></i> <%= link_to "Pre-Work", prework_path %></li>
	        <li><i class="icon-list-alt icon-white"></i> <%= link_to "Class Directory", directory_path %></li>
	        <li><i class="icon-calendar icon-white"></i> <%= link_to "Calendar", calendar_path %></li>
	        <li><i class="icon-user icon-white"></i> <%= link_to "Edit", edit_current_user_path %></li> 
					<li><i class="icon-remove-sign icon-white"></i> <%= link_to "Log Out", logout_path %></li>
				<% else %>
					<li><%= link_to "Sign Up", signup_path %></li> 
					<li><%= link_to "Log in", login_path %></li>
				<% end %>
			</ul>
			
		</div>
	</div>

	<% if flash[:notice] %>
		<div class="flash_float alert">
			<p id='notice'><%= flash[:notice] %></p>
		</div>
	<% end %>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
